DATABASE_URL=${{ Postgres.DATABASE_PRIVATE_URL }}
REDIS_URL=${{ Redis.REDIS_PRIVATE_URL }}
ANTHROPIC_API_KEY=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
FRONTEND_URL=http://localhost:3000

